body {
    margin: 0;
    background-color: steelblue;
    color: white;
    font-family: Monospaced;
}

canvas {
    width: 100%;
    height: 100%
}

#controls {
    position: absolute;
}

.block {
    margin: 5px;
}
